    * {
        padding: 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        box-sizing: border-box;
    }

    :root {
        --primary-color: #E8D9DB;
        --secondary-color: #F4F4F4;
        --border: 1px solid #D6D6D6;
    }

    /*----------- HEADER --------------*/
    header {
        display: grid;
        grid-template-columns: 24px auto 44px;
        background-color: var(--primary-color);
        padding: 5px 0;
        margin: 0 10px;
        align-items: end;
        border-bottom: var(--border);
        column-gap: 10px;
    }

    header img {
        display: block;
        padding-bottom: 5px;
        margin-left: 10px;
        width: 32px;
        height: 32px;
    }

    header span {
        font-size: 1.7rem;
        padding-left: .7rem;
    }

    /*----------- HAMBURGER BUTTON --------------*/
    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 2.5px;
    }

    .hamburger::before {
        content: "\2630";
        font-size: 1.7rem;
    }

    .hamburger.show::before {
        content: "\00D7"
    }

    /*----------- NAVIGATION --------------*/
    .navigation {
        display: none;
    }

    .navigation.show {
        display: block;
    }

    .navigation ul {
        margin: 0 10px;
        list-style: none;
        background-color: var(--secondary-color);
    }

    .navigation a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 10px;
        font-size: 1.2rem;
        border-bottom: var(--border);
    }

    .navigation a:hover {
        background-color: #D1B3B7;
    }

    .navigation li.current {
        background-color: #D6D6D6;
    }

    /*----------- MAIN --------------*/
    main {
        margin: 0 10px;
    }

    h1 {
        margin: 10px;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem auto;
        background-color: #D6D6D6;
        padding: .5rem;
        gap: 1rem;

    }

    .menu button {
        padding: .5rem;
    }

    /*----------- HOME --------------*/

    .hero {
        display: flex;
        background-image: url("https://paigeerasmussen.github.io/wdd231/chamber/images/chamber-meeting.webp");
        max-width: 100%;
        width: 1180px;
        height: 475px;
        justify-content: flex-end;
        flex-direction: column;
    }

    .callAct {
        width: 180px;
        text-align: center;
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        border-radius: 8px;
        padding: .8rem;
        margin: .5rem auto;
        background-color: var(--secondary-color);
        font-weight: 670;
        font-size: 1.3rem;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr;
    }

    .home h2 {
        text-align: center;
    }

    .home section {
        background-color: var(--primary-color);
    }

    .home p {
        padding: .5rem;
    }

    .currentWeather {
        display: flex;
        flex-direction: column;
    }

    .currentWeather img {
        max-width: 100px;
        margin: 0 auto;
    }

    .currentWeather p {
        text-align: center;
    }

    .forecast p {
        text-align: center;
    }

    .spotlight {
        display: grid;
        grid-template-columns: 1fr;
    }

    .spotlight section {
        max-width: 350px;
        border-radius: 8px;
        margin: 10px auto;
    }

    .spotlight h2 {
        text-align: center;
        border-bottom: var(--border);
    }

    .spotlight img {
        margin: .5rem;
        padding-top: 1rem;
        float: left;
    }

    .spotlight p {
        margin: .5rem;
        padding-top: .2rem;
    }

    .costatus {
        text-align: center;
    }

    .condition {
        text-transform: capitalize
    }

    /*----------- DIRECTORY --------------*/
    .grid div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .grid section {
        text-align: center;
    }

    .grid img {
        display: block;
        margin: 10px auto;
        width: 100%;
        height: auto;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .list p,
    .list a {
        padding: .5rem;
        text-align: center;
    }

    .list h2 {
        text-align: center;
        align-content: center;
        padding: .5rem;
        font-size: 1.2rem;
    }

    .list img {
        display: none;
    }

    div {
        margin: 1rem 0;
    }

    section {
        border: var(--border);
        background-color: var(--secondary-color);
        margin: .5rem;
        padding: 10px;
    }

    section h2 {
        padding-bottom: .5rem;
    }

    section .status {
        font-size: 1.1rem;
    }

    /*----------- FOOTER --------------*/
    footer {
        display: grid;
        padding: 5px 10px;
        margin: 0 10px;
        background-color: var(--primary-color);
    }

    footer div {
        padding: 10px 0;
    }

    .social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto;
        gap: 1rem;
    }

    .social img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .social a {
        width: 55px;
        height: 55px;
    }

    footer p {
        padding: 3px 0;
    }