@media only screen and (min-width: 38rem) {

    /*----------- UNIVERSAL --------------*/
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*----------- HOME --------------*/
    .home {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .spotlight {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*----------- DIRECTORY --------------*/
    .list h2 {
        text-align: left;
    }

    .list section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    /*----------- JOIN --------------*/
    .membership {
        grid-template-columns: .8fr 1fr;
    }

    .membership h2 {
        grid-row: 1/2;
    }

    dialog {
        margin: 15rem 1rem;
        margin-left: auto;
        padding: 2rem 1rem;
    }

    /*----------- DISCOVER --------------*/
}