@media only screen and (min-width: 38rem) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .list h2 {
        text-align: left;
    }

    .list section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* .social {
        display: block;
        margin: 0;
    } */
}