    * {
        padding: 0;
        margin: 0;
        /* font-family: ; */
        box-sizing: border-box;
    }

    /*----------- HEADER --------------*/

    /*----------- NAVIGATION --------------*/

    /*----------- MAIN --------------*/

    /*----------- FOOTER --------------*/
    footer {
        display: grid;
        padding: 10px;
        margin: .5rem 0;
        /* background-color: ; */
    }

    footer div {
        padding: 10px 0;
    }

    .social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto;
    }

    footer p {
        padding: 3px 0;
    }