* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

/*----------- HEADER --------------*/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0;
    margin: 0 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.7rem;
    font-weight: 500;
}

/*----------- HAMBURGER BUTTON --------------*/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.7rem;
}

.hamburger.show::before {
    content: "\00D7"
}

/*----------- NAVIGATION --------------*/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    background-color: #eee;
    margin-left: 10px;
}

.navigation a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    font-size: 1.1rem;
}

.navigation a:hover {
    background-color: #0D1821;
    color: #eee;
}

.navigation li.current {
    background-color: #B4CDED;
}

/*----------- MAIN --------------*/

h1 {
    padding-left: 10px;
}

section {
    display: grid;
    border: solid 1px #ddd;
    margin: 0 10px 10px 10px;
    background-color: #B4CDED;
}

section h2 {
    background-color: #0D1821;
    padding: .5rem;
    color: #eee;
    text-align: center;
    margin-top: 0;
    height: 45px;
}

.about p,
.about img {
    padding: 0 .5rem .5rem .5rem;
    margin-top: 0;
}

.about img {
    width: 200px;
    height: 200px;
    margin: 0 auto 5px auto;
    border-radius: 15px;
}

/*----------- COURSES --------------*/

.courses {
    margin: 10px;
    background-color: #fff;
    border: none;
}

.course-nav {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.course-nav li {
    background-color: #eee;
    border: solid 1px #ddd;
    padding: .5rem 1rem;
    margin: 10px auto;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

.course-nav li:hover {
    background-color: #B4CDED;
}

.course-nav li a {
    text-decoration: none;
    font-weight: 600;
    color: #000;

}

.total-credits {
    display: flex;
    gap: 5px;
    margin: 0 auto;
}

#false {
    display: flex;
    justify-content: center;
    border: solid 1px #fff;
    border-radius: 8px;
    margin: 10px 0;
}

#true {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 8px;
    margin: 10px 0;
    font-weight: 550;
}

/*----------- FOOTER --------------*/

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    background-color: #fff;
}

.social img {
    width: 25px;
    height: 25px;
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: solid 1px #0D1821;
    border-radius: 8px;
    margin-bottom: .7rem;
}

.social a:hover {
    background-color: #B4CDED;
}

footer {
    text-align: center;
    background-color: #eee;
    margin: 10px;
    padding: 0 0 .5rem;
}

footer p {
    margin: .5rem;
}