:root {
    --primary-color: #343333;
    --secondary-color: #F8FAF0;
    --font-color: #19381D;
    --accent-color: #EAF0D1;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    color: var(--font-color);
    font-family: "Raleway", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

header {
    padding: .7rem;
    font-size: 1.2rem;
}

nav {
    padding: .5rem;
    background-color: var(--accent-color);
}

h1 {
    grid-column: 1/4;
}

h2 {
    background-color: var(--secondary-color);
    padding: .5rem;
}

img {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    margin: .5rem;
}

img:first-of-type {
    grid-column: 1/3;
}

footer {
    background-color: var(--secondary-color);
    padding: 3rem;
}