* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    margin: .5rem;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    margin: 1rem;
}

section {
    background-color: #BCD2EE;
    margin: .2rem;
    text-align: center;
    padding: .5rem;
    border: 1px solid #8DB2E2;
}

section h2 {
    font-size: 1.7rem;
    padding-bottom: .3rem;
}

section p {
    padding: .2rem;
}

section img {
    margin-top: .5rem;
    padding: .4rem;
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 0.2);
}

footer {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}