@media only screen and (min-width: 38rem) {

    body {
        max-width: 1200px;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        margin: 0;
    }

    .navigation a {
        border: none;
    }

    .main {
        grid-template-columns: 1fr 2fr;
    }
}