:root {
    --primary-color: #343333;
    --secondary-color: #F8FAF0;
    --font-color: #19381D;
    --accent-color: #EAF0D1;
    --border: solid 1px #ddd;
}

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--font-color);
}

body {
    margin: 0 auto;
}

/*----------- HEADER --------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0;
    align-items: end;
    border-bottom: var(--border);
    column-gap: 10px;
}

header img {
    margin: 0 10px;
    padding-bottom: 2px;
}

header span {
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 1.5rem;
}

/*----------- HAMBURGER BUTTON --------------*/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.7rem;
}

.hamburger.show::before {
    content: "\00D7"
}

/*----------- NAVIGATION --------------*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    font-size: 1.1rem;
}

.navigation a:hover {
    background-color: var(--accent-color);
}

.navigation li.current {
    background-color: var(--secondary-color);
}

/*----------- MAIN --------------*/
h1 {
    padding: 10px;
}

/*----------- HOME --------------*/
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 550px auto 1fr;
    gap: 1rem;
}

.action {
    display: flex;
    background-image: url(https://paigeerasmussen.github.io/wdd231/finalproject/images/calltoaction.webp);
    margin: 10px;
}

.callAction {
    padding: .5rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 28rem auto 0;
    max-height: 50px;
    text-decoration: none;
    align-content: center;
}

.welcome {
    padding: 1rem;
    background-color: var(--secondary-color);
    margin: 10px;
}

.welcome h2 {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
}

.welcome p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    background-color: #fff;
    padding: 0 1rem 2rem;
    margin-bottom: 1rem;
}

#date {
    text-align: center;
}

/*----------- WEATHER --------------*/
.weather {
    margin: 10px;
    background-color: var(--primary-color);
    padding: 0 1rem 1rem;
}

.weather h2 {
    text-align: center;
    padding: 1rem;
    color: var(--secondary-color);
}

.weather div section {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

.weather div section div {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

.weather p {
    padding: .5rem 0;
    text-transform: capitalize;
}

/*----------- ATTRACTIONS --------------*/
.filters {
    display: flex;
    padding: .5rem;
    justify-content: center;
}

.filters button {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    margin: 0 1rem;
    border: var(--border);
    background-color: var(--primary-color);
    color: #fff;
}

dialog {
    max-width: 800px;
    margin: 8rem auto;
    border: var(--border);
}

dialog p {
    padding: 1rem 1rem 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.attractions button {
    display: flex;
    padding: .5rem;
    background-color: var(--accent-color);
    border: var(--border);
    border-radius: 8px;
    margin: 0 .5rem .5rem auto;
}

.attractions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.attractions section {
    border: var(--border);
    padding: 1rem 1rem 0;
    border-radius: 8px;
    margin: .5rem;
}

.attractions p,
.attractions address,
.attractions h2 {
    padding-bottom: .5rem;
    text-align: center;
}

.attractions img {
    display: flex;
    margin: 0 auto;
    padding-bottom: .5rem;
}


/*----------- FORM --------------*/
.formP {
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: .5rem;
}

form {
    margin: 10px auto;
    max-width: 400px;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: var(--border);
    border-radius: 8px;
    background-color: var(--primary-color);
}

fieldset label {
    color: var(--secondary-color);
    font-size: 1.1rem;
    padding: .3rem 0;
    max-width: 350px;
    margin: .5rem;
}

form input,
form textarea {
    max-width: 350px;
    padding: .4rem;
    margin: 0 .5rem;
}

form button {
    margin: 1rem 10px .5rem;
    padding: .5rem 0;
    border-radius: 8px;
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.1rem;
    max-width: 350px;
}

/*----------- FORM ACTION --------------*/
.formHeader {
    text-align: center;
}

.results {
    margin: 10px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

/*----------- FOOTER --------------*/
footer {
    text-align: center;
    border-top: var(--border);
    padding: 1.5rem;
    margin-top: 1rem;
    background-color: var(--secondary-color);
}